{{mainAsteroid | json}}

<div class="grid grid-cols-10 w-full h-full p-3">
  <div class="col-span-10 md:col-span-5">
    <ul>
      <li>
        <h5>Close Approach Date: <span></span> </h5>
      </li>
      <li>
        <h5>Relative Velocity: <span> km/h</span> </h5>
      </li>
      <li>
        <h5>Magnitude: <span></span> </h5>
      </li>
      <li>
        <h5>miss distance: <span> km</span> </h5>
      </li>

    </ul>
  </div>
  <div class="col-span-10 md:col-span-5">
    <ul>
      <li>
        <h5>ID: <span>{{mainAsteroid.id}}</span> </h5>
      </li>

      <li>
        <h5>Diameter: <span> km</span> </h5>
      </li>

      <li>
        <h5>Potential hazardous asteroid: <span></span> </h5>
      </li>

      <li>
        <h5>is sentry object: <span></span> </h5>
      </li>
    </ul>
  </div>
</div>
